# requirements.txt

fastapi
uvicorn
pandas
python-dotenv
openai
thefuzz
python-multipart
openpyxl
psycopg2-binary  # <-- Driver for PostgreSQL
SQLAlchemy       # <-- Helps manage database connections
streamlit
requests
psutil
